body {
    background-color: #ff0606;
    background-image: url(../imgs/Curso\ de\ Depilação\ Profissional1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}